<!DOCTYPE html>
<html>
<head>
    <title>Análise dos Filmes</title>
</head>
<body>
    <h1>Sumário de Dados dos Filmes</h1>
    <div>{{ resumo|safe }}</div>
    <br>
    <h1>5 primeiros Filmes da Lista</h1>
    <div>{{ header|safe }}</div>
    <br>
    <h2>Gráficos Interativos</h2>
    <ul>
        <li><a href="/plot1">Distribuição das Avaliações dos Filmes</a></li>
        <li><a href="/plot2">Box Plot das Avaliações por Gênero</a></li>
        <li><a href="/plot3">Relação entre Votos, Avaliações e Duração dos Filmes</a></li>
    </ul>
</body>
</html>